<html>

<head>
	<title> Songify </title>
</head>

<body>
	<center>
		<form action="/song/createnew" method="POST" enctype="multipart/form-data">
			<input type="text" placeholder="title" name="title">
			<br>

			<input type="text" placeholder="artist" name="artist">
			<br>

			<input type="text" placeholder="album" name="album">
			<br>

			<input id="songFile" name="songFile" type="file" accept=".mp3" />
			<br>

			<button name="ubtn" type="submit"> Create song</button>
		</form>
	</center>
</body>
</html>