<!DOCTYPE html>
<html>

<head>
	<title> Songify </title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}"/>
<body>

	<h1 align="center">Songify</h1> 
	<center><strong><button><a href="/song/create">Create New Song</a></button></strong></center>
	<ul align="center" style="list-style:none">

		<form method="POST" action="/song/search">
			Choose title/artist/album and then search with value
			<br>
			<input type="radio" id="attribute" name="attribute" value="title" checked>
			  <label for="attribute">Title</label>
			<input type="radio" id="attribute" name="attribute" value="artist">
			  <label for="attribute">Artist</label>
			<input type="radio" id="attribute" name="attribute" value="album">
			  <label for="attribute">Album</label>
			<br>

			  <label for="attribute">Enter value</label>
			<input type="text" id="attributeValue" name="attributeValue">

			<button type="submit" name='search' value="Search">Search</button>
		</form>
		<a href="/"><button>Reset search</button></a>

		{% for song in songs %}
		<div style="border:1px solid black;">

			<label>ID</label>:
			<span>{{ song[0] }}</span>
			<br>

			<label>Title</label>:
			<span>{{ song[1] }}</span>
			<br>

			<label>Artist</label>:
			<span>{{ song[2] }}</span>
			<br>

			<label>Album</label>:
			<span>{{ song[3] }}</span>
			<br>

			<audio controls src="{{ url_for('static',filename=song[4]) }}" type="audio/mp3"></audio>
			<br>
			<form class="crudButtons" method="get" action="/song/view">
				<input type="text" name="attributeValue" value="{{ song[0] }}" hidden />
				<button type="submit">View</a> </button>
			</form>

			<form class="crudButtons" method="post" action="/song/edit">
				<input type="text" name="attributeValue" value="{{ song[0] }}" hidden />
				<button type="submit">Edit</button>
			</form>

			<form class="crudButtons" method="post" action="/song/delete">
				<input type="text" name="attributeValue" value="{{ song[0] }}" hidden />
				<button type="submit">Delete</a> </button>
			</form>
			<br>
		</div>
		{% endfor %}

	</ul>

</body>

</html>
