<html>

<head>
    <title> Songify </title>
</head>

<body>
    <center>
        <div style="border:1px solid black;">

            <label>ID</label>:
            <span>{{ song[0] }}</span>
            <br>

            <label>Title</label>:
            <span>{{ song[1] }}</span>
            <br>

            <label>Artist</label>:
            <span>{{ song[2] }}</span>
            <br>

            <label>Album</label>:
            <span>{{ song[3] }}</span>
            <br>

            <label>Song file</label>
            <audio controls src="{{ url_for('static',filename=song[4]) }}" type="audio/mp3"></audio>
            <br>
        </div>
    </center>
</body>

</html>
